.content-article{

}

.title-article{
    text-align: center;
    padding-bottom: 40px;
    font-size: 20px;
}

h2{
    margin-bottom: 30px;
    margin-top: 30px;
}

.content-article img{
    margin: 30px;
}