@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    /*background: #333;*/
    background-image: url("/public/img/background-image-2_16x9.jpg");

}
nav#navigation {
    position: fixed;
    width: 225px;
    height: 100%;
    background: #262626;
    border-right: 1px solid #293649;
    z-index: 99999;
}
nav#navigation ul {
    list-style: none;
}
nav#navigation ul li {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #420511;
}
nav#navigation ul li.active {
    background: #262626;
}
nav#navigation ul li.dropdown:hover ul[class*="dropdown-"] {
    visibility: visible;
    opacity: 1;
}
nav#navigation ul li.dropdown:before {
    font-family: ionicons;
    content: "\f125";
    position: absolute;
    margin: 20px 0 0 0;
    left: 85%;
    color: #aaa;
}
nav#navigation ul li:hover:after {
    width: 225px;
}
nav#navigation ul li:after {
    content: " ";
    position: absolute;
    z-index: 1;
    width: 0px;
    height: 2px;
    margin: -2px 0 0 0;
    background: #DC143C;
    -webkit-transition: 150ms ease all;
    -moz-transition: 150ms ease all;
    transition: 150ms ease all;
}
nav#navigation ul li a {
    display: block;
    width: 100%;
    line-height: 60px;
    padding: 0 15px;
    text-decoration: none;
    color: #aaa;
    -webkit-transition: 150ms ease all;
    -moz-transition: 150ms ease all;
    transition: 150ms ease all;
}
nav#navigation ul li a:hover {
    background: #2E2E2E;
    color: #eee;
}
nav#navigation ul li a i, nav#navigation ul li a span {
    display: inline-block;
}
nav#navigation ul li a i {
    position: absolute;
    font-size: 1.3em;
}
nav#navigation ul li a span {
    margin: 0 0 0 35px;
    font-size: 0.85em;
}
nav#navigation ul li ul[class*="dropdown-"] {
    position: absolute;
    display: block;
    margin: -61px 0 0 225px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 150ms ease all;
    -moz-transition: 150ms ease all;
    transition: 150ms ease all;
}
nav#navigation ul li ul[class*="dropdown-"] li {
    width: 225px;
    background: #262626;
}
nav#navigation ul li ul[class*="dropdown-"] li a:hover {
    background: #2E2E2E;
}
#wrapper {
    margin: 0 0 0 225px;
    padding: 15px;
    color: #aaa;
}

.profile-info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-info-image{
    width: 33%;
}

.profile-info-image img{
    width: 100%;
}

.profile-details{
    width: 55%;
    color: #eaeef3;
    word-wrap: break-word;
    padding-top: 10px;
}

.profile-details-login{
    font-family: 'Roboto', sans-serif;
}

.content{
    margin: 25px 10px;
    background: #1d2124;
    padding: 20px;
    opacity: 0.85;
}

.bg-fon {
    background-color:rgba(0,0,0,.4);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: -10;
}

#wrapper{
    height: 100vh;
}